@import "tailwindcss";

@theme {
  --color-canvas: var(--canvas);
  --color-elevated: var(--elevated);
  --color-border: var(--border-color);
  --color-border-hover: var(--border-hover);
  --color-text-high: var(--text-high);
  --color-text-medium: var(--text-medium);
  --color-text-disabled: var(--text-disabled);

  --font-geist: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 8px;
}

@layer base {
  :root {
    --canvas: #FFFFFF;
    --elevated: #F5F5F5;
    --border-color: #E5E5E5;
    --border-hover: #D4D4D4;
    --text-high: #000000;
    --text-medium: #525252;
    --text-disabled: #737373;
  }
  .dark {
    --canvas: #0A0A0A;
    --elevated: #171717;
    --border-color: #262626;
    --border-hover: #404040;
    --text-high: #FFFFFF;
    --text-medium: #A3A3A3;
    --text-disabled: #737373;
  }

  body {
    background-color: var(--canvas);
    color: var(--text-high);
    font-family: var(--font-geist);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
